{{ form_start(form) }}
<div class="alert-danger rounded">

{% dump errors %}

    {% for error in errors %}
        {{ error.getMessage() }}
    {% endfor %}
{{ form_errors(form) }}
</div>
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_label(form.parent) }}
    {{ form_widget(form.parent) }}
<button class="button edit_btn my-5">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
