<div class="headerCart">
    <h3>Mon panier</h3>

    <span class="articlesCounter">
{# TODO #}{{ articles|length}} articles
    </span>
</div>

<div class="bodyCart">
    {% if articles|length <1 %}
        <h4 class="my-5">Votre panier est encore vide 😥 remplissez-le! 🙂</h4>
    {% else %}

        {% for article in articles %}
            <section class="article">
                <section>
                    <p><small>{{ article.product.brand }}</small></p>

                    <h4>{{ article.product.title }}</h4>
                    <p><span>{{ article.qty }}</span> pour <span>{{ article.product.incltaxPrice * article.qty|number_format(2) }}€</span></p>
                </section>

                <section class="h-100">
                    <img src="{{ article.product.photos[0].link }}" alt="image test">
                </section>
            </section>
        {% endfor %}

    {% endif %}


    <div class="totals">

        <table class="table table-borderless">
            <tbody>
                <tr class="ht">
                    <td>Prix H.T</td>
                    <td>{{ totalHt|number_format(2, '.', '') }}€</td>
{#                    <td>{{ (product.excltaxPrice * articles.quantity)|number_format(2) }}€</td>#}
                </tr>
                <tr class="tva">
                    <td>TVA</td>
{#                    <td>{{ articles.total - (product.excltaxPrice * articles.quantity)|number_format(2) }}€</td>#}
                    <td>{{ totalTtc - totalHt|number_format(2, '.', '') }}€</td>
                </tr>
                <tr class="ttc">
                    <td>Total  T.T.C</td>
{#                    <td>{{ articles.total|number_format(2) }}€</td>#}
                    <td>{{ totalTtc|number_format(2, '.', '') }}€</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="w-auto mb-4">
        <a href="{{ path('cart_details') }}">
            <button class="button green_btn">
                Détails panier
            </button>
        </a>
    </div>

</div>
