{% extends 'base.html.twig' %}

{% block title %}Connexion à la Nimes'alerie!{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <h2>Authentification</h2>

            <div class="login-wrapper">
                <section class="signin col-4">
                    <h3 class="text-center">J'ai déjà un compte</h3>

                    <form method="post">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div>
                            <label for="email">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="email"
                                   class="form-control-lg form-control" required autofocus placeholder="Email">
                        </div>

                        <div>
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control-lg form-control"
                                   required placeholder="Mot de passe">
                            <small class="form-text text-muted text-right"><a href="">Mot de passe oublié?</a></small>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <button class="button green_btn my-4" type="submit">
                            Se connecter!
                        </button>
                    </form>
                </section>

                <section class="signup col-4 text-center">
                    <h3>Je ne possède pas de compte</h3>

                    <div class="createAccount">
                        <a href="{{ path('app_register') }}">
                            <button class="button green_btn">Créer un compte</button>
                        </a>
                    </div>

                </section>
            </div>
        </div>

        <div class="services">
            {{ include('ourServices/ourServices.html.twig') }}
        </div>

        <div class="maps">
            {{ include('maps/maps.html.twig') }}
        </div>

    </main>

{% endblock %}
