{% extends 'admin/base.html.twig' %}

{% block title %}Détails commande{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Administration / Commande</h2>

        <div>
            <button class="button blue_btn new">
                <a href="{{ path('order_new') }}">Nouvelle commande</a>
            </button>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table table-borderless" id="order">
            <thead>
            <tr>
                <th>Id</th>
                <th>TotalPrice</th>
                <th>Client</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ total }}€</td>
                    <td>{{ order.client }}</td>
                    <td>{{ order.state }}</td>
                    <td>
                        <button class="edit_btn button">
                            <a href="{{ path('order_edit', {'id': order.id}) }}">Editer</a>
                        </button>
{#                        <button id="invisible">#}
{#                            {{ include('admin/order/_delete_form.html.twig') }}#}
{#                        </button>#}

                        <!-- Modal -->
                        {{ include('modal/trigger.html.twig') }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <button class="button blue_btn">
                            <a href="{{ path('order_index') }}">Retour à la liste</a>
                        </button>
                    </td>
                </tr>
                <!-- Modal -->
                {% include 'modal/modal.html.twig' with {'element': 'order'} %}
            </tbody>
        </table>
    </div>
{% endblock %}
