<section class="homeMenu">
    <h2 class="text-center">Toute l'animalerie</h2>

    <div class="wrapper container d-flex my-5">
        <div class="img_wrapper">
            <img class="bg_home_menu" src="{{ asset('images/front/chien2.jpg') }}" alt="">
            <img class="bg_home_menu fader" src="{{ asset('images/front/chien2.jpg') }}" alt="">
        </div>

        <div class="d-flex list">
            <ul class="flex-column align-items-baseline">
                <li>
                    <h2><a href="{{ path('product_list') }}">Toute la boutique</a></h2>
                </li>
                {% for categorie in categories %}
                    {% if categorie.parent == 'Animaux' %}
                        <li><h2><a class="{{ categorie.slug }}" href="{{ path('product_listByCategorie', {'slug' : categorie.slug}) }}">{{ categorie.name }}</a></h2></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
