<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Back-office La Nîmes'alerie!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/responsive_backoffice.css') }}">

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>

<body>
    <menu></menu>
    <section>

        <header class="d-flex justify-content-between align-items-center pl-5 pr-5">

            <div class="d-flex align-items-center">
                <h2>La Nîmes'alerie</h2>

                {% if is_granted('ROLE_ADMIN') %}
                {% set route = app.request.get('_route') %}

                <nav>
                    <ul class="d-flex">
                        <li class="{% if route starts with 'admin_main' %}selected{% endif %}"><a href="{{ path('admin_main_home') }}">Accueil</a></li>
                        <li class="{% if route starts with 'categorie' %}selected{% endif %}"><a href="{{ path('categorie_index') }}">Catégories</a></li>
                        <li class="{% if route starts with 'admin_contact_form' %}selected{% endif %}"><a href="{{ path('admin_contact_form_list') }}">Contacts</a></li>
                        <li class="{% if route starts with 'client' %}selected{% endif %}"><a href="{{ path('client_index') }}">Clients</a></li>
                        <li class="{% if route starts with 'order' %}selected{% endif %}"><a href="{{ path('order_index') }}">Commandes</a></li>
                        <li class="{% if route starts with 'brand' %}selected{% endif %}"><a href="{{ path('brand_index') }}">Marques</a></li>
                        <li class="{% if app.request.requestUri starts with '/admin/product/' %}selected{% endif %}"><a href="{{ path('product_index') }}">Produits</a></li>
                        <li class="{% if route starts with 'product_order' %}selected{% endif %}"><a href="{{ path('product_order_index') }}">Produit/commande</a></li>
                        <li class="{% if route starts with 'photo' %}selected{% endif %}"><a href="{{ path('photo_index') }}">Photos</a></li>
                        <li class="{% if route starts with 'state' %}selected{% endif %}"><a href="{{ path('state_index') }}">Etat</a></li>
                    </ul>
                </nav>
                {% endif %}

            </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <aside class="d-flex">

                        <a href="">
                            <img src="{{ asset('images/back/gear.png') }}" alt="logo_parametres">
                        </a>

                        <p class="mr-5 ml-5">Bonjour, M. Capard</p>

                        <div>
                            <button class="blue_btn button">
                                <a href="{{ path('app_logout_admin') }}">
                                    Déconnexion
                                </a>
                            </button>
                        </div>

                    </aside>
                {% endif %}

        </header>

        <main>
            {% block body %}{% endblock %}
        </main>


            <footer class="d-flex align-items-center">

                <div>
                    <p class="col-12 offset-4">
                        2021 © La Nîmes'alerie
                    </p>
                </div>

            </footer>

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/datatables.js') }}"></script>
</body>
</html>
