{% extends 'admin/base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Administration / Client</h2>

        <div>
            <a href="{{ path('client_new') }}">
                <button class="button blue_btn new">
                    Nouveau client
                </button>
            </a>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table table-borderless" id="client">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>
                        <button class="blue_btn button">
                            <a href="{{ path('client_show', {'id': client.id}) }}">Détails</a>
                        </button>
                        <button class="edit_btn button">
                            <a href="{{ path('client_edit', {'id': client.id}) }}">Editer</a>
                        </button>
                        <button id="invisible">
                            {{ include('admin/client/_delete_form.html.twig') }}
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune catégorie trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
