<footer>
    <section id="social">
        <a href="https://facebook.com" target="_blank">
            <img src="{{ asset('images/front/facebook.png') }}" alt="logo facebook">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="{{ asset('images/front/instagram.png') }}" alt="logo instagram">
        </a>
        <a href="https://linkedin.com" target="_blank">
            <img src="{{ asset('images/front/linkedin.png') }}" alt="logo linkedin">
        </a>
    </section>

    <menu>
        <ul>
            <li><a href="{{ path('cgv') }}">Conditions générales de ventes</a></li>
            <li><a href="{{ path('quiSommesNous') }}">Qui sommes-nous?</a></li>
            <li><a href="{{ path('mentionsLegales') }}">Mentions légales</a></li>
            <li><a href="{{ path('privacy') }}">Protection des données</a></li>
        </ul>
    </menu>

    <div>
        <p>© AG 2021</p>
    </div>

</footer>
