<div class="d-flex flex-wrap">

    {% if products|length > 0 %}
        {% for produit in products %}
{#            <span class="productId" hidden>{{ produit.id }}</span>#}
            {#FLIP-CARD#}
            <div class="myCard">
                <div class="myCard-wrapper">

                    <div class="front_card">
                        <h4>{{ produit.title }}</h4>

                        {% if produit.photos.get(0) is defined %}
                            <img src="{{ produit.photos.get(0).link }}" alt="photo mise en avant produit">
                        {% endif %}
                    </div>

                    <div class="back_card">
                        <div class="pt-4 mx-5">
                            <h4 class="">{{ produit.title }}</h4>
                            <p class="text-left"><small>{{ produit.categorie }} - {{ produit.brand }}</small></p>
                            <div>
                                <a href="{{ path('product_details', {id: produit.id}) }}">
                                    <button class="button blue_btn">Détails</button>
                                </a>
                            </div>
                            <p class="text-right"><span class="price">{{ produit.incltaxPrice|number_format(2, '.', '') }}</span> € TTC</p>
                        </div>

                        {# test form #}

                        <form action="" method="post">
                            <div class="quantitySelector onCard">

                                <input type="hidden" name="product_id" id="product_id" value="{{ produit.id }}">

                                <div class="qty-wrapper">
                                    <button type="button" class="qtyLess">-</button>
                                </div>

                                <div class="qty-wrapper wrapper-mid">
                                    <label hidden for="qty">Quantité</label>
                                    <input name="qty" id="qty" class="qty" value="1">
                                </div>

                                <div class="qty-wrapper">
                                    <button type="button" class="qtyMore">+</button>
                                </div>

                            </div>

{#                            <input type="hidden" name="price" id="price" value="{{ produit.incltaxPrice }}">#}

                            <button type="submit" class="button green_btn card_btn submit_cart_btn">Ajouter au panier</button>
                        </form>


                        {# test form #}

                    </div>
                </div>
            </div>
            {#FLIP-CARD#}

        {% endfor %}

    {% else %}

        <div class="w-100">
            <div class="d-flex flex-column align-items-center">
                <h3>Aucun articles présent ici pour le moment</h3>
                <img src="https://media3.giphy.com/media/JJCi9CUlegFgdRQjT0/giphy.gif" alt="gif wip">
            </div>
        </div>

    {% endif %}

</div>
