{% extends 'admin/base.html.twig' %}

{% block title %}Détails marque{% endblock %}

{% block body %}

    <div class="d-flex justify-content-between align-items-center">
        <h2>Administration / Marques</h2>

        <div>
            <button class="button blue_btn new">
                <a href="{{ path('brand_new') }}">Nouvelle marque</a>
            </button>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="table table-borderless" id="brand">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ brand.id }}</td>
                    <td>{{ brand.name }}</td>

                    <td>
                        <button class="edit_btn button">
                            <a href="{{ path('brand_edit', {'id': brand.id}) }}">Editer</a>
                        </button>
                        <button id="invisible">
                            {{ include('admin/brand/_delete_form.html.twig') }}
                        </button>
                    </td>

                </tr>

                <tr>
                    <td>
                        <button class="button blue_btn">
                            <a href="{{ path('brand_index') }}">Retour à la liste</a>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
